* {
  box-sizing: border-box;
  margin: 0;
  padding: 2px;
  font-family: 'Comic Neue', cursive;
}

body {
  margin: 0 auto;
  background-color: #474040;
  color: #ffc145;
}

hr {
  padding: 0;
}

h1,
h2 {
  text-align: center;
  padding: 1.5rem 0;
}

.nav-bar,
footer {
  border: 1px solid #ffc145;
  padding: 0.5rem 1rem;
}

.nav-bar-title {
  display: flex;
  align-items: center;
}

.list-add-contact {
  display: flex;
  gap: 0.5rem;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.book {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  padding: 5px;
}

.book-details {
  display: flex;
}

.add-title-and-author {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 2rem;
  row-gap: 10px;
  max-width: 200px;
}

.add-button-container {
  text-align: right;
}

.alert-message {
  text-align: center;
  color: red;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact ul,
.contact p {
  padding-left: 50px;
  padding-bottom: 1rem;
  list-style: circle;
  margin: 0 auto;
}

.contact li {
  padding: 5px 0;
}

.main {
  min-height: 100%;
  box-sizing: border-box;
}

footer {
  background-color: #474040;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px;
}

/* ////////////////// DOM //////////////// */
.hide {
  display: none;
}
